@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

$primary-font: "PT Serif";
$primary-color: #bfd2c1;
$secondary-color: #fff;
$primary-font-size: 1.6rem;


.navbar {
  display: flex;
  align-items: center;
  background-color: $primary-color;
  height: 8rem;
  padding-left: 3.2rem;
  font-family: $primary-font;
  font-size: $primary-font-size;
  .navbarLeft {
    display: flex;
    align-items: center;
    p {
      color: $secondary-color;
      font-size: 2.4rem;
      font-weight: 700;
      margin-left: 1.6rem;
    }
  }
  button {
    height: 3.2rem;
    width: 8rem;
    margin: 0 2.4rem 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}



.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: $primary-font;
  font-size: 1.6rem;
  margin-top: 8rem;
  .header {
    margin-bottom: 1.2rem;
    font-size: 3.2rem;
  }
  .content {
    display: flex;
    gap: 2.4rem;
    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40rem;
      height: 24rem;
      font-size: 2.4rem;
      font-weight: 600;
      background-color: $primary-color;
      color: $secondary-color;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0.75;
      transition: all 0.4s;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}

.resultPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: $primary-font;
  margin-top: 8rem;
  .resultPageHeader {
    display: flex;
    font-size: 3.2rem;
  }
  .resultPageContent {
    display: grid;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

.foodCard {
  display: flex;
  flex-direction: column;
  border: 0.2rem solid $primary-color;
  border-radius: 2.4rem;
  height: 32rem;
  img {
    height: 20rem;
    width: 26rem;
    border-top-right-radius: 2.4rem;
    border-top-left-radius: 2.4rem;
    object-fit: cover;
  }
  .dishName {
    font-family: sans-serif;
    font-size: $primary-font-size;
    margin-top: 1.2rem;
    margin-left: 1.2rem;
  }
}

.takeout {
  background-image: url('../images/takeout.jpeg');
}

.homecooking {
  background-image: url('../images/homecooking.jpeg');
}

.eggsAndRice {
  background-image: url('../images/eggsandrice.jpeg');
}

.instantNoodles {
  background-image: url('../images/instantnoodles.jpeg');
}

.blackFont {
  color: black;
}